*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: rgb(135, 141, 140);
}
html{
    font-size:6.25%;
}
nav{
    display: flex;
    width: 100%;
    height: 10vh;
    background: rgb(21, 23, 47);
    justify-content: flex-end;
    position: relative;
    align-items: center;

}
nav ul{
    position: relative;
    align-items: center;
}
nav #nav_horz li{
    list-style-type: none;
    display: inline-block;
    background: rgb(255, 255, 255);
    margin-right: 100px;
    font-size: 15rem;
    position: relative;
    z-index: 11;
    padding: 3rem 12rem;
    border-radius:7%;
    margin: 30px;
    overflow: hidden;
    font-family: 'Oswald';
}

nav #nav_horz li::before{
    content: '';
    background: rgba(0, 195, 255, 0.888);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: all .5s;
    top: 0px;
    right: 125%;
    transform: skew(45deg);    
}
nav #nav_horz li:hover:before{
    right: 50%;
}
nav #nav_horz li::after{
    content: '';
    background: rgba(233, 10, 58, 0.888);
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(0%,0%) skew(45deg) ;
    z-index: -1;
    top: 0;
    left: 125%;
    transition: all .5s;
}
nav #nav_horz li:hover::after{
    left: 50%;
}
#logo_box{
    color: rgb(39, 7, 7);
    position: absolute;
    left: 0;
    background-color: white;
    height: 100%;
    width: 30%;
    max-width: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
}
nav #munna{
    color: rgba(0, 195, 255, 0.888);
    font-family: 'Coiny', cursive;
   
}
nav #munna ,#vlog{
    font-size: 4vw;
}
nav #vlog{
    font-family: 'Coiny', cursive;
    color: rgba(233, 10, 58, 0.888);
    margin-left: 5%;
}
#bars{
    font-size: 28rem;
    color: white;
    margin-right: 2.8%;
    display: none;
}
/* hamb */
#hamb{
    position: absolute;
    top: 10vh;
}

#hamb li{
    font-size: 25rem;
    list-style-type: none;
    font-family: 'Oswald';
    text-align: center;
    color: rgba(255, 255, 255, 0.37);
    border-top: solid 2px rgb(0, 0, 0);
    padding: 15rem 40rem;
    background: rgba(0, 0, 0, 0.685);
    transform: translateX(100%);
    transition: all 1s;
}

#hamb li:first-child{
    border-top: unset;
}
#hamb li:last-child{
    border-bottom-left-radius: 10rem;
}
#hamb li:hover{
    color: white;
}